#!/usr/bin/env python

import os, sys, re


def main():
    
    core_to_rsem_file = dict()
    with open("local.rsem_gene_files.list") as fh:
        for line in fh:
            line = line.rstrip()
            bname = os.path.basename(line)

            core = os.path.basename(bname)
            core = core.replace("_R1_rsem.genes.results", "")
            core_to_rsem_file[ core ] = line


    with open("../H3K27.sample_sheet.tsv") as fh:
        header = next(fh)
        for line in fh:
            line = line.rstrip()
            vals = line.split("\t")
            cellname = vals[0]
            reads_filename = vals[4]
            bname = os.path.basename(reads_filename)
            
            core = bname.replace("_R1.fastq.gz", "")

            if core in core_to_rsem_file:
                rsem_filename = core_to_rsem_file[ core ]
                print("\t".join([cellname, rsem_filename]))
            else:
                sys.stderr.write("-warning, missing {}\n".format(core))

                

    sys.exit(0)


if __name__ == '__main__':
    main()
